# DataBase
COFFEE_ENVIRONMENT=YOUR_VAR_HERE
COFFEE_DEBUG=YOUR_VAR_HERE

COFFEE_DATABASE__HOST=YOUR_VAR_HERE
COFFEE_DATABASE__PORT=YOUR_VAR_HERE
COFFEE_DATABASE__USER=YOUR_VAR_HERE
COFFEE_DATABASE__DB=YOUR_VAR_HERE
COFFEE_DATABASE__PASSWORD=YOUR_VAR_HERE

# Others
COFFEE_ANTHROPIC_API_KEY=YOUR_VAR_HERE
COFFEE_RESEND_API_KEY=YOUR_VAR_HERE
COFFEE_FROM_EMAIL=YOUR_VAR_HERE