# DataBase
COFFEE_ENVIRONMENT=YOUR_VAR_HERE
COFFEE_DEBUG=YOUR_VAR_HERE

COFFEE_DATABASE__HOST=localhost
COFFEE_DATABASE__PORT=5432
COFFEE_DATABASE__USER=local_user
COFFEE_DATABASE__DB=local_db
COFFEE_DATABASE__PASSWORD=local_password

# Others
COFFEE_ANTHROPIC_API_KEY=YOUR_VAR_HERE
COFFEE_RESEND_API_KEY=YOUR_VAR_HERE
COFFEE_FROM_EMAIL=YOUR_VAR_HERE